body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

  .text-center {
      text-align: center!important;
  }

  .banner_post .banner_post_1 {
      position: relative;
      height: 700px;
      flex: 1 1 33.333%;


  }


  @media (min-width: 769px) {
    .banner_post .banner_post_1 {
        position: relative;
        flex: 1 1 33.333%;
    }}
  

  @media (min-width: 426px) and (max-width: 768px) {
    .banner_post .banner_post_1{
        position: relative;
        flex: 1 1 50%;
        margin-bottom: 120px;
    }}

    @media (max-width: 425px) {
        .banner_post .banner_post_1{
            position: relative;
            flex: 1 1 100%;
            margin-bottom: 120px;
        }}
      
  .row .banner_post_bg_1 {
      background-image: url("../../../img/banner_blog/banner_blog_1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .row .banner_post_bg_2 {
      background-image: url("../../../img/banner_blog/banner_blog_2.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
  }

  .row .banner_post_bg_3 {
      background-image: url("../../../img/banner_blog/banner_blog_3.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  


  .banner_post_iner h5 {
      font-size: 15px;
      color: #fc4600;
      text-transform: capitalize;
      font-family: "Lora", serif;
      font-weight: 500;
      margin-bottom: 12px;
      
  }

  .banner_post_iner a {
      text-decoration: none;
  }

  h2 {
      font-size: 30px;
      line-height: 28px;
      color: #2a2a2a;
      font-weight: 600;
      line-height: 1.222;
} 

.banner_post .banner_post_1 .banner_post_iner {
      padding: 45px;
      position: absolute;
      bottom: -150px;
      left: 0;
      right: 0;
      background-color: #fff;
      max-width: 490px;
      margin: 0 auto;
      text-align: center;
}



  .banner_post p {
      font-size: 13px;
      color: #8a8a8a;
      margin-top: 15px;
  } 
  
  .justify-content-between {
      -ms-flex-pack: justify!important;
      justify-content: space-between!important;
  }

 
  
